extends ../layout

block title
	title Users Online: CD Early Withdrawal Calculator

block content
	div.container
		each visitor, i in visitorList
			p
				div
					| #{i + 1}. #{visitor.date} - #{visitor.ip}
				div
					| #{visitor.userAgent}
				div
					| landing:
					a(href='#{visitor.url}', target='_blank')  #{visitor.url}
				div
					if (visitor.referer != undefined)
						| referer:
						a(href='#{visitor.referer}', target='_blank') #{visitor.referer}